---

---

<button>button</button>

<style>
    button {
        padding: 0.5em 1em;
        background: none;
        font-size: 1rem;
        border: 3px solid #fff3b0;
        color: #fff3b0;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    }
</style>